{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}


{% block body %}
	{% for error in app.session.flashbag.get('error') %}
		<p class="error">{{ error }}</p>
	{% endfor %}
	<form method="post" id='loginForm'>
		<h2>Bienvenue sur VRisingServer</h2>
		{% if error %}
			<div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<input type="text" value="{{ last_username }}" name="username" placeholder='Username' id="inputUsername" class="form-control" autocomplete="username" required autofocus>
		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder='Mot de passe' required>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<button type="submit">
			Connexion
		</button>
		<a href="{{path('app_forgot_password_request')}}">Mot de passe oublié</a>
		<p>Pas de compte ?
			<a href="{{path('app_register')}}">Inscription</a>
		</p>
	</form>
{% endblock %}
