{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {{ form_start(registrationForm, {'attr' : {'id' : 'loginForm'}}) }}
        <h2>Inscription</h2>
        {{form_widget(registrationForm.email, {'attr' : {'placeholder' : 'Email'}})}}
        {{ form_widget(registrationForm.username, {'attr' : {'placeholder' : 'Username'}}) }}
        {{ form_widget(registrationForm.plainPassword, {'attr' : {'placeholder' : 'Mot de passe'}}) }}

        <button type="submit" class="btn">Inscription</button>
        <p>Déjà inscrit ? <a href="{{path('app_login')}}">Connexion</a></p>
    {{ form_end(registrationForm) }}
{% endblock %}
