{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{% for error in app.session.flashbag.get('error') %}
		<p class="error">{{ error }}</p>
	{% endfor %}
	{% for server in servers %}
		<div>
			{{server.name}}
			{{server.type ? 'PVP' : 'PVE'}}
			<p>{{server.description}}</p>
			{% if server.userOwner == app.user %}
				<a href="{{path('app_server_edit', {'id' : server.id})}}">Editer</a>
			{% endif %}
			<a href="{{path('app_server_readOne', {'id' : server.id})}}">Détails</a>
		</div>
	{% endfor %}
{% endblock %}
