{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	{{ encore_entry_script_tags('starNote') }}
	{{ encore_entry_script_tags('burger') }}
	{{encore_entry_script_tags('reviews')}}
{% endblock %}

{% block body %}
	{% import "macroStar.html.twig" as macroStar %}
	{% for error in app.session.flashbag.get('error') %}
		<p class="error">{{ error }}</p>
	{% endfor %}
	<div class="server-info">
		<h3>{{server.name}}</h3>
		{% if server.note %}
			{{macroStar.stars(server.note)}}
		{% endif %}
		<div>
			<p class='label-info'>Type de serveur :</p>
			<p class='{{server.type ? 'PVP' : 'PVE'}}'>{{server.type ? 'PVP' : 'PVE'}}</p>
		</div>
		<div>
			<p class='label-info'>Date de lancement :</p>
			<p>{{server.openDay|date('d/m/Y h:m')}}</p>
		</div>
		<div>
			<p class='label-info'>Taille de clan :</p>
			<p>{{server.clanSize}}</p>
		</div>
		<div>
			<p class='label-info'>Serveur à reset :</p>
			<p>{{server.wipe ? 'Oui' : 'Non'}}</p>
		</div>
		{% if server.wipe %}
			<div>
				<p class='label-info'>Date de reset :</p>
				<p>{{server.wipeDate|date('d/m/Y h:m')}}</p>
			</div>
		{% endif %}
		<div class='server-description'>
			<p>{{server.description}}</p>
		</div>
		{% if server.discord is defined %}
			<div class='discord'>
				<p>SERVEUR DISCORD</p>
				<a href="{{server.discord}}">{{server.discord}}</a>
			</div>
		{% endif %}
	</div>
	<div class='separator'></div>
	<div class="reviews-container">
		<h3>AVIS</h3>
		{% if app.user %}
			{# if user don't review this server #}
			{% if not userAlreadyPost%}
				{% for error in app.session.flashbag.get('error') %}
					<p class="error">
						{{ error }}</p>
				{% endfor %}
				{% if app.user is not same as server.userOwner %}
					<form id='form-review' action="{{path('app_review_create', {'id' : server.id})}}" method="post">
						<select name="rating" id="review-note">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						{{macroStar.stars(0)}}
						<textarea name="review-text" id="" cols="30" rows="10" placeholder='Votre commentaire'></textarea>
						<button type="submit">Poster</button>
					</form>
				{% endif %}
				<!-- Else show user review -->
			{% else %}
				{% for success in app.session.flashbag.get('success') %}
					<p class="success">{{ success }}</p>
				{% endfor %}
				<div class="user-review">
					<p>Votre note :
						{{ macroStar.stars(userReview.star)  }}</p>
					<p>{{ userReview.text }}</p>
					<form method='post' action="{{path('app_review_delete', {'id' : server.id})}}">
						<input type="hidden" name="token" value="{{ csrf_token('delete-review') }}">
						<button type="submit">Supprimer</button>
					</form>
				</div>
			{% endif %}
		{% else %}
			{% set userAlreadyPostReview = false %}
			<div class="review-login">
				<p>Connectez-vous pour poster un avis</p>
				<a href="{{path('app_login')}}" class='btn'>Connexion</a>
			</div>
		{% endif %}
		<div class="review-filter">
			<div class="date-filter active">
				<p>+ Récents</p>
			</div>
			<div class="note-filter">
				<p>&#8593; Note</p>
			</div>
		</div>
		<div class="server-reviews" server-id="{{server.id}}"></div>
	</div>
{% endblock %}
