{% if search is defined%}
	<h3>Votre Recherche</h3>
{% endif %}
{% for server in servers %}
	{% if server[0] is defined %}
		{% set server = server[0] %}
	{% endif %}
	{% if loop.index <= 3 %}
		<div class="best-servers">
		{% endif %}
		<div class='server-card'>
			<div class="card-left">
				<h4>{{server.name}}</h4>
				<p>{{server.description|slice(0,100)}}
					...</p>
			</div>
			<div class="card-right">
				{% if loop.index <= 3 and not server.note%}
					<div class="star-container">
						{% for i in 1..5 %}
							{% if i<=server.note|round %}
								<div class='full-star'>.</div>
							{% else %}
								<div class='empty-star'>.</div>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
				{% if server.note %}
					<div class="star-container">
						{% for i in 1..5 %}
							{% if i<=server.note|round %}
								<div class='full-star'>.</div>
							{% else %}
								<div class='empty-star'>.</div>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
				<p class='review-info'>{{server.reviews|length}}
					AVIS</p>
				<p class='{{server.type ? 'PVP' : 'PVE'}}'>
					{{server.type ? 'PVP' : 'PVE'}}</p>
				{% if server.userOwner == app.user or is_granted('ROLE_ADMIN')%}
					<a href="{{path('app_server_edit', {'id' : server.id})}}" class='btn'>Editer</a>
				{% endif %}
				<a class='btn' href="{{path('app_server_readOne', {'id' : server.id})}}">Détails</a>
			</div>
		</div>
		{% if is_granted('ROLE_ADMIN') %}
			<form class='deleteBtn' action="{{path('app_server_delete', {'id' : server.id})}}" method='post' onsubmit='return (confirm("Voulez vous vraiment supprimer le serveur {{server.name}} ?"))'>
				<input type="hidden" name="token" value="{{ csrf_token('delete-server') }}">
				<button type="submit">Supprimer</button>
			</form>
		{% endif %}
		{% if loop.index <= 3 %}
		</div>
	{% endif %}
{% endfor %}
<div class='pagination-container'>
	<nav>
		{{ knp_pagination_render(servers) }}
	</nav>
</div>
