<nav id='navbar'>
	<a href="/"><img src="/image/VrisingserverLogo.png" alt=""></a>
	<div id='burger'>
		<span></span>
	</div>
	<ul class='menu'>
		<li>
			<a href="/">Accueil</a>
		</li>
		{% if app.user %}
			<li>
				<a href="{{path('app_user_profil')}}">Mon Compte</a>
			</li>
			<li>
				<a href="{{path('app_user_server')}}">Mes Serveurs</a>
			</li>
		{% else %}
			<li>
				<a href="{{path('app_login')}}">Connexion</a>
			</li>
		{% endif %}
		<li>
			<a href="{{path('app_server_create')}}">Créer une fiche serveur</a>
		</li>
		{% if app.user %}
			<li>
				<a href="{{path('app_logout')}}">Déconnexion</a>
			</li>
		{% endif %}
	</ul>
</nav>
